<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <title>Sesión|AcadeM@C</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilos.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='fonts/style.cs')}}">
    <!--  Favicon  -->
    <link rel="shortcut icon" href="{{ url_for('static',filename='icon/favicon.ico')}}">
</head>
<body>
    <h2>Formulario de registro</h2>
    <form action="{{ url_for('guardarInput')}}" method="POST">
      <!--  Nombre  -->
      <label for="nombre">Nombre(s):</label><br>
      <input type="text" name="nombre" placeholder="Nombre(s)" class="form-control" autofocus><br>
      <!--  Apellido Paterno  -->
      <label for="apellidoPaterno">Apellido Paterno:</label><br>
      <input type="text" name="apellidoPaterno" placeholder="Apellido paterno" class="form-control" ><br><br>
      <!--  Apellido Materno  -->
      <label for="apellidoMaterno">Apellido Materno:</label><br>
      <input type="text" name="apellidoMaterno" placeholder="Apellido materno" class="form-control" ><br><br>
      <!--  No. de Cuenta  -->
      <label for="numeroCta">Numero de cuenta:</label><br>
      <input type="number" name="numeroCta" placeholder="No. de Cuenta" class="form-control"><br><br>
      <!--  Nivel Academico -->
      <p>Nivel academico:</p>
      <input type="radio" name="estudios" value="Primaria" class="form-control">
      <label for="nivel1">Primaria</label><br>
      <input type="radio" name="estudios" value="Secundaria" class="form-control">
      <label for="nivel2">Secundaria</label><br>
      <input type="radio" name="estudios" value="Preparatoria" class="form-control">
      <label for="nivel3">Preparatoria</label><br><br>
      <input type="submit" value="submit">
    </form> 
</body>
</html>